label {
	font-family: Verdana, sans-serif;
	font-size: 16px;
}

button {
	font-family: Verdana, sans-serif;
	font-size: 14px;
}

entry {
	font-family: Verdana, sans-serif;
	font-size: 14px;
}

box#vbox {
  background-color: #032730;
}
